@model CategoryPreviewViewModel

@if (Model.CategoryDocuments != null &&
              Model.CategoryDocuments.TryGetValue(Model.PropertyCategory.PropertyCategoryId, out var documents) &&
              documents.Any())
{
    @foreach (var document in documents)
    {
        <div class="d-flex row justify-content-start">
            <p class="fw-bold mt-1 mb-1 text-start">
                @(document.Note.Length > 30 ? document.Note.Substring(0, 30) + "..." : document.Note)
            </p>
            <div class="d-flex">
                <img src="@document.FileImageUrl" alt="Document Thumbnail" class="img-fluid" style="height:30px; width:auto;" />

                <p class="mt-0 mb-0">
                    @(document.FileName.Length > 25 ? document.FileName.Substring(0, 25) + "..." : document.FileName)
                </p>
            </div>
        </div>
        
    }
}
<div class="d-flex justify-content-center">
    <p class="text-center" style="position:absolute; bottom: 0;">@Model.CategoryDocumentCount document(s)</p>
</div>

