@model CategoryPreviewViewModel

<div class="sideBox px-2" style="background:@Model.PropertyCategory.Color;" data-id=" @Model.PropertyCategory.PropertyCategoryId">
    <div class="boxHeader row g-0">
        @if (Model.PropertyCategory.CategoryId != null)
        {
            <h4 class="col-11">@Model.PropertyCategory.Category.CategoryName</h4>
        }
        else
        {
            <h4 class="col-11">@Model.PropertyCategory.CustomCategory</h4>
        }
        <partial name="_CategoryDropdownMenu" model="Model.PropertyCategory"></partial>
    </div>
    <div class="previewContainer mt-3 container align-content-lg-start">
        <partial name="_CategoryPreview" model="Model"></partial>
    </div>
    <div class="documentContent container"></div>
</div>



