@model PropertyCategory

<div class="sideBox px-2" data-id=" @Model.PropertyCategoryId">
    <div class="boxHeader row g-0">
        @if (Model.CategoryId != null)
        {
        <h4 class="col-11">@Model.Category.CategoryName</h4>
        }
        else
        {
        <h4 class="col-11">@Model.CustomCategory</h4>
        }
        <partial name="_CategoryDropdownMenu" model="Model"></partial>
    </div>
    <div class="documentContent container"></div>
</div>



