@model PropertyCategory

@if (Model.CategoryId != null)
{
    <div class="sideBox px-2" data-id=" @Model.PropertyCategoryId">
        <h4>@Model.Category.CategoryName</h4>
    </div>
}
else
{
    <div class="sideBox px-2" data-id=" @Model.PropertyCategoryId">
        <h4>@Model.CustomCategory</h4>
    </div>
}

