@model BuildingManagementTool.Models.Document

<style>
    .doc-card {
        align-items: center;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
    }

        .doc-card.selected {
            border-style: solid;
            border-width: 4px;
            overflow: hidden;
        }

        .doc-card img {
            width: auto;
            height: 150px;
            object-fit: cover;
            border-bottom: 1px solid #ddd;
        }

    .doc-card-content h3 {
        overflow: hidden;
    }

    .doc-card-content h3, a {
        text-decoration: none;
        margin: 0.5rem;
        font-size: 1rem;
    }

    .doc-card:hover {
        background-color: #f0f0f0;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
</style>

<div class="doc-card pt-3">
    <img src="@Model.FileImageUrl" alt="Document Thumbnail" class="img-fluid" />
    <div class="doc-card-content" data-id="@Model.DocumentId">
        <h3 class="pb-1">@Model.FileName</h3>
    </div>
</div>
