@model ShareDocumentFormViewModel

<div id="shareDocumentUrl" class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered" role="document">
    <div class="modal-content px-4">
        <div class="modal-header">
            <h2>Document Share Url</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
            <form id="shareDocumentUrlForm">
                <div class="row justify-content-between">
                    <div id="documentShareUrlMessage">Fetching URL for @Model.Document.FileName...</div>

                    <div class="row align-items-center mb-3">
                        <div class="col-10 p-1">
                            <input asp-for="Url" id="documentShareUrlLink" class="form-control text-truncate" title="Document URL" readonly />
                        </div>
                        <div class="col-auto">
                            <button type="button" id="copyUrlBtn" class="btn btn-primary">
                                <i class="bi bi-clipboard"></i> Copy
                            </button>
                        </div>
                    </div>

                    <label for="shareEmail">Email:</label>

                    <div class="row align-items-center mb-3 mt-2">
                        <div class="col-10 p-1">
                            <input asp-for="Email" id="shareEmail" class="form-control mx-2"/>
                        </div>
                        <div class="col-auto">
                            <button type="button" id="sendEmailBtn" class="btn btn-primary">
                                <i class="bi bi-clipboard"></i> Share
                            </button>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div id="urlCopiedAlert" class="alert alert-success" role="alert" style="display:none;">
                        URL Copied!
                    </div>
                    <div id="urlSentAlert" class="alert alert-success" role="alert" style="display:none;">
                        URL Sent!
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button type="button" class="btn-secondary rounded me-2" data-bs-dismiss="modal">Close</button>
          
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const documentId = "@Model.Document.DocumentId"; 

        $.ajax({
            url: "/Blob/GetDocumentShareUrl?id=" + encodeURIComponent(documentId),
            type: "GET",
            success: function (response) {
                if (response.success) {
                    $("#documentShareUrlMessage").text("Document URL for @Model.Document.FileName:");
                    $("#documentShareUrlLink").val(response.url);
                } else {
                    $("#documentShareUrlMessage").text("Error: Unable to fetch the document URL.");
                }
            },
            error: function () {
                $("#documentShareUrlMessage").text("Error: Unable to fetch the document URL.");
            }
        });

     
        $("#copyUrlBtn").click(function () {
            const url = $("#documentShareUrlLink").text(); 
            navigator.clipboard.writeText(url).then(function () {
               
                $("#urlCopiedAlert").show().delay(2000).fadeOut();
            }).catch(function (error) {
                console.error("Failed to copy the URL to clipboard: ", error);
            });
        });

        $("#sendEmailBtn").click(function () {
            const documentId = "@Model.Document.DocumentId";
            const shareForm = $("#shareDocumentUrlForm");
            const formData = new FormData(shareForm[0]);
            formData.append("documentId", documentId)
            $.ajax({
                url: "/Document/ShareDocumentUrl",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        $("#urlSentAlert").show().delay(2000).fadeOut();
                    } else {
                        console.log("return validation")
                        $("#modalContainer").html(response);
                    }
                },
                error: function () {
                    alert("Error: Unable to send the document URL.");
                }
            });
        });
    });
</script>
