<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Upload Files</h2>
        </div>

        <div class="modal-body">
            <div>
                <form asp-controller="Blob" asp-action="UploadBlob" method="post" enctype="multipart/form-data">
                    <input type="file" name="files" id="fileInput" multiple>
                    <button class="btn-primary" type="submit">Upload Now</button>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
