@model IEnumerable<BuildingManagementTool.Models.Document>

<h1>Files</h1>
<button id="uploadModalBtn" class="btn-success btn-lg">Upload</button>

<div id="documentCardsContainer" class="row row-cols-1 row-cols-md-4 g-4 mt-2">
    @if (Model != null && Model.Any())
    {
        foreach (var document in Model)
        {
            <div class="col">
                @Html.Partial("_DocumentCard", document)
            </div>
        }
    }
    else
    {
        <p>No documents available.</p>
    }
</div>

<div id="modalContainer" class="modal shadow" role="dialog"></div>

<script>
    $(document).ready(function () {
        $("#uploadModalBtn").click(function () {
            $("#modalContainer").load("/Document/UploadFormPartial", function () {
                $("#modalContainer").modal("show");
            });
        });
    });
</script>
