@{
    ViewData["Title"] = "Home Page";
}
<style>

    html, body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }



    h1,h2,h3{
        font-weight:600;
    }
    .hero-section {
        margin: 15% 10%;
        text-align: center;
    }
    .hero-section img {
        margin-top: 20px;
        max-width: 100%;
        height: auto;
    }

    .about-section {
        width: 100vw; 
        margin: 0 calc(-50vw + 50%); 
        padding: 6rem 0;
        text-align: center;
        color: white;
        background: black;
        border: 0;
    }

    .about-section p{
        font-size:2rem;
    }

    .feature-section {
        margin: 10%;
        text-align:center;
    }
  
        .feature-section img {
            margin-top: 20px;
            max-width: 100%;
            height: auto;
        }
</style>

<section class="hero-section">
    <div class="container">
        <h1 class="display-4 ">
            <span>Store and Manage Your Housing Documents</span>
            <span id="typed-element"></span>
        </h1>
        <video width="400" class="mb-5" controls>
            <source src="~/videos/Sprint 2 demo.mov" type="video/mp4">
            
            Your browser does not support HTML video.
        </video>
    </div>
    <button id="btn-register" class="btn btn-primary mt-6" type="button" onclick="window.location.href='@Url.Page("/Account/Register", new { area = "Identity" })'">
        Get Started >
    </button>
</section>

<section class="about-section">
    <h1 class="mb-5">What is BMT?</h1>
    <p>
        Building Management Canvas is designed for property managers and homeowners to enable them to manage all relevant housing documents in a centralized location.
    </p>
</section>


<section class="feature-section">
    <div class="container mt-5 ">
        <h1 class="display-4 mb-5">Separate Documents By Category</h1>
        <img src="~/imgs/canvas.png" alt="Canvas Image" class="mb-5" />
    </div>
    <div class="container mt-5">
        <h1>Handy Document Access</h1>
        <img src="~/imgs/documents.png" alt="Canvas Image" />

    </div>
      <div class="container mt-5 mb-5">
        <h1>Easily Manage Your Document</h1>
        <img src="~/imgs/preview.png" alt="Canvas Image" />
   


    </div>     <button id="btn-register" class="btn btn-primary mt-6" type="button" onclick="window.location.href='@Url.Page("/Account/Register", new { area = "Identity" })'">
        Get Started >
    </button>
    </section>