@{
    ViewData["Title"] = "About BMT";
}
<h1>@ViewData["Title"]</h1>

<p>
    Building Management Canvas is designed for property managers and home owners to enable them to manage all relevant housing documents in a centralised location.
</p>
