@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container d-flex flex-column justify-content-center align-items-center" style="padding-top:10%;">
    <h1 class="mb-4">@ViewData["Title"]</h1>
    <p>
        A password reset link has been sent.
        Please check your email to reset your password.
    </p>
</div>

