@using Microsoft.AspNetCore.Identity


@model IEnumerable<PropertyViewModel>

@inject UserManager<ApplicationUser> UserManager
@{
    var currentUser = UserManager.GetUserAsync(User).Result;
}

<style>
    #addPropertyModalBtn {
        position: fixed;
        bottom: 10rem;
        right: 15rem;
        width: 60px;
        height: 60px;
        background-color: #007bff;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        font-size: 24px;
        text-decoration: none;
    }

    #addPropertyModalBtn:hover {
        background-color: #0056b3;
    }

 #searchForm {
    max-width: 40rem;     
    width: 100%;           
    margin: 0 auto;        
    padding: 0 1rem;       
}

@@media (max-width: 768px) {
    #searchForm {
        max-width: 100%;  
    }
    
    #searchPropertyInput {
        width: 100%;      
    }
}

</style>


<h1 class="text-center mb-4">Welcome @currentUser.FirstName!</h1>
<form id="searchForm" class="d-flex align-items-center mb-4">
    <input id="searchPropertyInput" class="form-control mr-sm-2" type="search" placeholder="Search Properties (Ex. Property Address)" aria-label="Search">
    <button id="searchPropertyBtn" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
</form>

<div id="propertyContainer" class="container row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-between">
    <partial name="_PropertyContainer" model="Model"></partial>
</div>


<div id="propertyModalContainer" class="modal shadow" role="dialog"></div>

<a id="addPropertyModalBtn">
    <i class="fas fa-plus"></i>
</a>

<script>
    $(document).ready(function() {
        $('#propertyModalContainer').on('hidden.bs.modal', function () {
            console.log("emptied");
            $(this).empty();
        });

        $(document).on('click', '#addPropertyModalBtn', function (event) {
            console.log("add property clicked")
            var url = "/UserProperty/PropertyFormPartial"
            $("#propertyModalContainer").load(url, function () {
                $("#propertyModalContainer").modal("show");
            });
        });

        $(document).on('click', '.managePropertyModalBtn', function (event) {
            event.stopPropagation();
            console.log("manage property clicked")
            var propertyId = $(this).data("id");
            var url = "/UserProperty/ManagePropertyFormPartial?id=" + propertyId;
            $("#propertyModalContainer").load(url, function () {
                $("#propertyModalContainer").modal("show");
            });
        });

        $(document).off('click', '.deletePropertyModalBtn').on('click', '.deletePropertyModalBtn', function (event) {
            event.stopPropagation();
            console.log("deleteConf clicked")
            const propertyId = $(this).data("id");
            $("#propertyModalContainer").load("/UserProperty/DeleteConfirmationPartial?id=" + propertyId, function () {
                $("#propertyModalContainer").modal("show");
            });
        })

        $(document).off('click', '#addPropertyBtn').on('click', '#addPropertyBtn', function (event) {
            console.log("Add clicked")
            const propertyForm = $("#propertyForm");
            const formData = new FormData(propertyForm[0]);
            $.ajax({
                url: '/UserProperty/AddProperty',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.success) {
                        $.ajax({
                            url: '/UserProperty/UpdatePropertyContainer',
                            type: 'GET',
                            success: function (result) {
                                $('#propertyModalContainer').modal('hide');
                                $('#propertyContainer').html(result);
                            },
                            error: function () {
                                displayErrorMessage(response);
                            }
                        });
                    } else {
                        console.log('return validation')
                        $('#propertyModalContainer').html(response);
                    }
                },
                error: function (xhr) {
                    displayErrorMessage(xhr);
                }
            });
        })

        $(document).off('click', '#deletePropertyConfirmBtn').on('click', '#deletePropertyConfirmBtn', function (event) {
            console.log("Delete clicked")
            var propertyId = $("#deletePropertyConfirmBtn").data('id');
            $.ajax({
                url: '/Blob/DeleteProperty',
                type: 'POST',
                data: { id: propertyId },
                success: function (response) {
                    if (response.success) {
                        $.ajax({
                            url: '/UserProperty/UpdatePropertyContainer',
                            type: 'GET',
                            success: function (result) {
                                $('#propertyModalContainer').modal('hide');
                                $('#propertyContainer').html(result);
                            },
                            error: function () {
                                displayErrorMessage(response);
                            }
                        });
                    } else {
                        displayErrorMessage(response);
                    }
                },
                error: function (xhr) {
                    displayErrorMessage(xhr);
                }
            });
        })


        $(document).off("click", ".propertyCard").on("click", ".propertyCard", function (event) {
            var id = $(this).data('id')
            console.log("property clicked", id)
            var url = '/PropertyCategory/Index/';
            window.location.href = url + id;
        });

        function displayErrorMessage(response) {
            let message = 'An unexpected error occurred.';

            if (response.responseJSON && response.responseJSON.message) {
                message = response.responseJSON.message;
            } else if (response.message) {
                message = response.message;
            } else if (response.statusText) {
                message = response.statusText;
            }
            $('.errorContainer').text(message).show();
        }
    })


    $(document).on('click', '#searchPropertyBtn', function (event) {
        event.preventDefault(); 
        console.log("Search clicked");

        var keyword = $("#searchPropertyInput").val();

        $.ajax({
            url: '/UserProperty/SearchPropertyByName',
            type: 'GET',
            data: { keyword: keyword },
            success: function (result) {
                console.log('Results for searched property');
                
                $('#propertyContainer').html(result);
            },
            error: function (xhr, status, error) {
                console.error("Error: " + error);
            }
        });

        return false; 
    });



</script>