@model string

<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content" style="position:relative">
        <img src="@Model" class="w-100 h-auto img-fluid" />
        <button type="button" class="btn-close btn-lg" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; top: 20px; right: 20px; z-index: 1000; background-color: #696969" />
    </div>
</div>
