@model string

<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
        <video controls autoplay id="videoPlayer" class="w-100 h-auto">
            <source src="@Model" type="video/mp4"></source>
            <source src="@Model" type="video/webm"></source>
            Your browser does not support the video tag.
        </video>
    </div>
</div>